<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.flink" level="INFO"/>
    <logger name="org.apache.flink.streaming.api.operators.collect.CollectResultFetcher" level="ERROR"/>
    <logger name="akka" level="WARN"/>
    <logger name="ai.metarank.api.routes.FeedbackApi" level="WARN"/>
    <logger name="ai.metarank.flow" level="WARN"/>
    <logger name="ai.metarank.fstore.redis" level="WARN"/>

    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <!--root level="debug">
        <appender-ref ref="STDOUT"/>
    </root-->

</configuration>
