name: End-to-end tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    timeout-minutes: 20
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        platform: [ubuntu-20.04]

    steps:
      - uses: actions/checkout@v2
        with:
          lfs: 'true'

      - uses: actions/cache@v2
        with:
          path: ~/.sbt ~/.m2 ~/.ivy2 ~/.cache
          key: ${{ runner.os }}-build-${{ hashFiles('build.sbt', 'api/build.sbt', 'ingest/build.sbt', 'core/build.sbt', 'project/Deps.scala') }}
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          distribution: 'adopt-hotspot'
          java-version: '11'

      - name:  Run docker-compose
        run: docker-compose -f .github/compose-redis.yaml up -d

      - name: Make assembly and docker image
        run: sbt -mem 3000 assembly docker

      - name: Run docker
        run: docker run metarank/metarank:latest

      - name: Run e2e test
        run: ./run_e2e.sh target/scala-2.13/metarank.jar

