name: Scala CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    timeout-minutes: 20
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        platform: [ubuntu-20.04, macos-11]

    steps:
    - name: install libomp
      run: brew install libomp
      if: runner.os == 'macOS'

    - name: install docker
      run: |
        mkdir -p ~/.docker/machine/cache
        curl -Lo ~/.docker/machine/cache/boot2docker.iso https://github.com/boot2docker/boot2docker/releases/download/v19.03.12/boot2docker.iso
        brew install docker docker-machine
        docker-machine create --driver virtualbox default
        docker-machine env default
      if: runner.os == 'macOS'

    - name: install haveged
      run: sudo apt-get install haveged && sudo haveged && cat /proc/cpuinfo && ls -l /dev/
      if: runner.os == 'Linux'

    - uses: actions/checkout@v2
      with:
        lfs: 'true'

    - uses: actions/cache@v2
      with:
        path: ~/.sbt ~/.m2 ~/.ivy2 ~/.cache
        key: ${{ runner.os }}-build-${{ hashFiles('build.sbt', 'api/build.sbt', 'ingest/build.sbt', 'core/build.sbt', 'project/Deps.scala') }}
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        distribution: 'adopt-hotspot'
        java-version: '11'

    - name: Run formatting tests
      run: sbt scalafmtCheck

    - name:  Run docker-compose
      run: docker-compose -f docker-compose.yaml up -d
      
    - name: Run tests
      run: sbt -mem 3000 test assembly

    - name: Run e2e test
      run: ./run_e2e.sh target/scala-2.12/metarank.jar

    - name: Run docker 
      run: sbt docker:publishLocal && docker run metarank/metarank:latest
      if: runner.os == 'Linux'